@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    padding: 16px 16px;
    border-right: 1px solid #e6e5e5;
}

nav .logo-cl{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo{
    display: flex;
    justify-content: center;
    min-width: 40px;
}

nav .logo-img{
    width: 50px;
    height: 50px;
    background-color: #4DA3FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo-img .text{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

nav .logo-cl .logo-name{
    font-size: 22px;
    font-weight: 600;
    margin-left: 14px;
    color: #000;
}

nav .menu-side{
    margin-top: 50px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8px;
}

.menu-side li{
    list-style: none;
    padding-bottom: 10px;
}

.menu-side li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
    cursor: pointer;

    i{
        font-size: 24px;
        min-width: 45px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #707070;
    }
}

.nav-links li a:hover:before{
    content: '';
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    background-color: #4DA3FF;
    border-radius: 50%;
}

.menu-side li a .item-name{
    font-size: 18px;
    font-weight: 400;
    color: #707070;
}

.menu-side .mode{
    display: flex;
    align-items: center;
}

.switch:before{
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
}

.nav-links li a:hover i,
.nav-links li a:hover .item-name{
    color: #4DA3FF;
}

.menu-side .logout-mode{
    padding-top: 24px;
    border-top: 1px solid #e6e5e5;
}

.menu-side .mode{
    display: flex;
    align-items: center;
}

.logout-mode li a:hover:before{
    content: '';
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    background-color: #4DA3FF;
    border-radius: 50%;
}

.logout-mode li a:hover i,
.logout-mode li a:hover .item-name{
    color: #4DA3FF;
}

.dashboard{
    background-color: #fff;
    position: relative;
    width: calc(100% - 250px);
    left: 250px;
    height: 100vh;
    padding: 16px 32px;
}

.dashboard .top{
    top: 0;
    padding: 16px 32px;
    position: fixed;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
}

.dashboard .top .hamburger{
    font-size: 35px;
    color: #000;
}

.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}

.top .search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 0 25px 0 50px;
    border: 1px solid #e6e5e5;
    border-radius: 10px;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    outline-color: #4DA3FF
}

.top .search-box i{
    position: absolute;
    left: 0;
    left: 15px;
    font-size: 22px;
    top: 50%;
    z-index: 9999;
    transform: translateY(-50%);
    color: #707070;
}

.top .profile{
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    position: relative;
}

.profile img{
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.dashboard .dash-content{
    padding-top: 50px;
}

.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}

.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: #4DA3FF;
    border-radius: 6px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: #000;
    margin-left: 10px;
}

.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 - 15px);
    background-color: #abc0fb;
    border-radius: 12px;
    padding: 15px 20px;
    cursor: pointer;
    gap: 10px;
}

.dash-content .boxes .box i{
    padding-top: 10px;
}

.dash-content .boxes .box:hover{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5)
}

.boxes .box i{
    font-size: 35px;
    color: #000;
}

.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    color: #000;
}

.boxes .box.box2{
    background-color: #FFE6AC;
}

.boxes .box.box3{
    background-color: #E7D1FC;
}

.activity-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}

.activity-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: #4DA3FF;
    border-radius: 6px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.activity-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: #000;
    margin-left: 10px;
}

.dashboard .activity-content .activity-data{
    display: flex;
    align-items: center;
}

.activity-content .activity-data .data-table{
    display: flex;
    overflow: auto;
    height: 290px;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    padding: 16px;
    gap: 16px;
}

.activity-content .activity-data .data-table:hover{
    border: 1px solid #4DA3FF;
    border-radius: 12px;
}

.activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15;
}

.activity-data .data-title{
    font-size: 20px;
    font-weight: 500;
}

.activity-data .data .data-list{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: #707070;
}

@media (max-width: 768px){
    .dash-content .boxes .box{
        width: calc(100% / 1 - 15px);
        margin-top: 15px;
    }
}