@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background-color: #0E4BF1;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    padding: 10px 14px;
    border-right: 1px solid #e6e5e5;
}

nav .logo-cl{
    display: flex;
    align-items: center;
}

nav .logo-img{
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-img i{
    font-size: 40px;
    min-width: 45px;
    color: #4DA3FF;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-cl .logo-name{
    font-size: 22px;
    font-weight: 600;
    margin-left: 14px;
    color: #000;
}

nav .menu-side{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-side li{
    list-style: none;
}

.menu-side li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;

    i{
        font-size: 24px;
        min-width: 45px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #707070;
    }
}

.nav-links li a:hover:before{
    content: '';
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    background-color: #4DA3FF;
    border-radius: 50%;
}

.menu-side li a .item-name{
    font-size: 18px;
    font-weight: 400;
    color: #707070;
}

.menu-side .mode{
    display: flex;
    align-items: center;
}

.menu-side .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: #707070;
}

.switch:before{
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
}

.nav-links li a:hover i,
.nav-links li a:hover .item-name{
    color: #4DA3FF;
}

.menu-side .logout-mode{
    padding-top: 10px;
    border-top: 1px solid #e6e5e5;
}

.menu-side .mode{
    display: flex;
    align-items: center;
}

.logout-mode li a:hover:before{
    content: '';
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    background-color: #4DA3FF;
    border-radius: 50%;
}

.logout-mode li a:hover i,
.logout-mode li a:hover .item-name{
    color: #4DA3FF;
}

.dashboard{
    background-color: #fff;
    position: relative;
    width: calc(100% - 250px);
    left: 250px;
    height: 100vh;
    padding: 10px 14px;
}

.dashboard .top{
    top: 0;
    padding: 10px 14px;
    position: fixed;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
}

.dashboard .top .hamburger{
    font-size: 26px;
    color: #000;
}

.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}

.top .search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 0 25px 0 50px;
    border: 1px solid #e6e5e5;
    border-radius: 5px;
    color: #4DA3FF;
    font-size: 15px;
    font-weight: 400;
    outline-color: #4DA3FF
}

.top .search-box i{
    position: absolute;
    left: 0;
    left: 15px;
    font-size: 22px;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    color: #707070;
}

.dashboard .top .profile{
    font-size: 40px;
    color: #707070;
}

.dashboard .dash-content{
    padding-top: 50px;
}

.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}

.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: #4DA3FF;
    border-radius: 6px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: #000;
    margin-left: 10px;
}

.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 - 15px);
    background-color: #a1baff;
    border-radius: 12px;
    padding: 15px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1)
}

.boxes .box i{
    font-size: 35px;
    color: #000;
}

.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    color: #000;
}

.boxes .box.box2{
    background-color: #FFE6AC;
}

.boxes .box.box3{
    background-color: #E7D1FC;
}